.cityList {
  width: 100%;
  height: 65vh;
  /* height: 20%; */
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.cityList::-webkit-scrollbar {
  width: 0;
}
