.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.row textarea {
  height: 10rem;
  resize: none;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.flag {
  position: absolute;
  right: 1rem;
  top: 2.7rem;
  font-size: 2.8rem;
}

.form.loading {
  opacity: 0.3;
}

.form.loading button {
  pointer-events: none;
  background-color: var(--color-light--1);
  border: 1px solid var(--color-light--1);
  color: var(--color-dark--0);
}

/* Calendar */
.row :global(.react-datepicker__tab-loop) {
  position: absolute !important;
}

:global(.react-datepicker__triangle) {
  left: 2rem !important;
}

:global(.react-datepicker) {
  font-family: inherit !important;
  font-size: 1rem !important;
}

:global(.react-datepicker__day),
:global(.react-datepicker__day-name) {
  width: 3rem !important;
  line-height: 3rem !important;
  margin: 0.3rem !important;
}

:global(.react-datepicker__day--selected),
:global(.react-datepicker__day--keyboard-selected) {
  background-color: var(--color-brand--2) !important;
  color: var(--color-dark--1) !important;
  border-radius: 50% !important;
}

:global(.react-datepicker__day:hover) {
  border-radius: 50% !important;
}
